$alias: "story__";

.#{$alias}container {
  // background-color: blue;

  .#{$alias}details {
    margin: 2em 0;
  }

  ul {
    li {
      display: inline;
      padding-right: 1em;
      padding-left: 1em;
      position: relative;

      // &:last-of-type {
      //   background-color: green;
      // }

      &:after {
        content: " / ";
        position: absolute;
        right: 0;
      }

      &:first-of-type {
        padding-left: 0;
      }

      &:last-of-type {
        &:after {
          content: "";
        }
      }
    }
  }
}
